@using CollegeScorePredictor.Models.Bet;

<div class="card">
    <div class="card-header">
        Generate Bet Slips
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label>Year: </label>
                    <input type="number" placeholder="Year..." @bind="year" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Week: </label>
                    <input type="number" placeholder="Week..." @bind="week" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Date String: </label>
                    <input type="text" placeholder="YYYYMMDD-MMDD" @bind="dateString" />
                </div>
            </div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" @onclick="@(async ()=>{ await GenerateBetSlip(); })">Generate Bet Slip</button>
        </div>
    </div>
</div>
@if (showBets)
{
    <div class="mt-5">

        <div style="width:300px; background: #eee; color: #222; padding: 10px; border: 8px solid black; font-size: small;">
            <div style="margin-top: 6px; text-align: center;">
                <div><img src="./fbsbets.png" style="max-height: 120px;"/></div>
            </div>
            <div style="margin-top: 5px; text-align: center;"><small>CFB Week @week</small></div>
            <hr style="border-top: 3px solid black;" />
            <div style="text-align: center;"><strong>@dateString</strong></div>
            <hr style="border-top: 3px solid black;" />
            @foreach (var bet in bets)
            {
                <div style="padding: 6px;">
                    <div style="margin-top: 4px;">
                        <div style="display: flex;">
                            <strong>@bet.Bet</strong>
                            <strong style="margin-left: auto;">-110</strong>
                        </div>
                        <div>@bet.BetName</div>
                        <div>@bet.AwayTeamName at @bet.HomeTeamName</div>
                        <div><small><strong>Football</strong></small></div>
                    </div>
                </div>
            }
            <hr style="border-top: 3px solid black; margin-top: 10px;" />
            <div style="margin-top: 8px; padding: 5px;">
                <div style="display: flex;">
                    <strong>Ticket Cost:</strong>
                    <span style="margin-left: auto;">$1.99</span>
                </div>
                <div style="display: flex;">
                    <strong>Max Win:</strong>
                    <span style="margin-left: auto;">.91x bet</span>
                </div>
            </div>
            <hr style="border-top: 3px solid black;" />
            <div>
                <small><strong>Note: </strong>There is no guarantee of profits. Past performance is no guarantee of future results.</small>
                <small>It is against the Terms of Service to share the results on this bet slip.</small>
            </div>
        </div>
    </div>
}

@*Week 1-3 BELOW*@
@*@if (showBets)
{
    <div class="mt-5 mb-5">

        <div style="width:300px; background: #eee; color: #222; padding: 10px; border: 8px solid black; font-size: small;">
            <div style="margin-top: 6px; text-align: center;">
                <div><img src="./fbsbets.png" style="max-height: 120px;" /></div>
            </div>
            <div style="margin-top: 5px; text-align: center;"><small>CFB Week 1</small></div>
            <hr style="border-top: 3px solid black;" />
            <div style="text-align: center;"><strong>20230826-0904</strong></div>
            <hr style="border-top: 3px solid black;" />


            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Duke Blue Devils -18.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Northwestern Wildcats at Duke Blue Devils</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Tennessee Volunteers -6.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Tennessee Volunteers at Florida Gators</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Over 47</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Total Points</div>
                    <div>San Diego State Aztecs at Oregon State Beavers</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Bowling Green Falcons +40</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Bowling Green Falcons at Michigan Wolverines</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Nebraska Cornhuskers -11</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Northern Illinois Huskies at Nebraska Cornhuskers</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Georgia Southern Eagles +19</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Georgia Southern Eagles at Wisconsin Badgers</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Under 57</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Vanderbilt Commodores at UNLV Rebels</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>North Carolina Tarheels -7.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Minnesota Golden Gophers at North Carolina Tarheels</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>UL Monroe Warhawks +36</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>UL Monroe Warhawks at Texas A&M Aggies</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Over 53.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Total Points</div>
                    <div>LSU Tigers at Mississippi State Bulldogs</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>James Madison Dukes +2</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>James Madison Dukes at Troy Trojans</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Over 49.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Total Points</div>
                    <div>James Madison Dukes at Troy Trojans</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Georgia State Panthers -7.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Georgia State Panthers at Charlotte 49ers</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Western Michigan Broncos +28.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Western Michigan Broncos at Iowa Hawkeyes</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Under 43</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Total Points</div>
                    <div>Western Michigan Broncos at Iowa Hawkeyes</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Appalachian State Mountaineers -9.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>East Carolina Pirates at Appalachian State Mountaineers</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Hawaii Rainbow Warriors +37.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Hawaii Rainbow Warriors at Oregon Ducks</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Arkansas Razorbacks -9.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>BYU Cougars at Arkansas Razorbacks</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Oklahoma Sooners -27.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Oklahoma Sooners at Tulsa Golden Hurricane</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>
            <div style="padding: 6px;">
                <div style="margin-top: 4px;">
                    <div style="display: flex;">
                        <strong>Liberty Flames -3.5</strong>
                        <strong style="margin-left: auto;">-110</strong>
                    </div>
                    <div>Spread</div>
                    <div>Liberty Flames at Buffalo Bulls</div>
                    <div><small><strong>Football</strong></small></div>
                </div>
            </div>




            <hr style="border-top: 3px solid black; margin-top: 10px;" />
            <div style="margin-top: 8px; padding: 5px;">
                <div style="display: flex;">
                    <strong>Ticket Cost:</strong>
                    <span style="margin-left: auto;">$1.99</span>
                </div>
                <div style="display: flex;">
                    <strong>Max Win:</strong>
                    <span style="margin-left: auto;">.91x bet</span>
                </div>
            </div>
            <hr style="border-top: 3px solid black;" />
            <div>
                <small><strong>Note: </strong>There is no guarantee of profits. Past performance is no guarantee of future results.</small>
                <small>It is against the Terms of Service to share the results on this bet slip.</small>
            </div>
        </div>
    </div>
}
*@
@*
@if (showBets)
{
    <div class="mt-5">

        <div style="width:300px; background: #eee; color: #222; padding: 10px; border: 8px solid black; font-size: small;">
            <div style="margin-top: 6px; text-align: center;">
                <div><img src="./fbsbets.png" style="max-height: 120px;" /></div>
            </div>
            <div style="margin-top: 5px; text-align: center;"><small>CFB Bowls</small></div>
            <hr style="border-top: 3px solid black;" />
            <div style="text-align: center;"><strong>20231212-20240109</strong></div>
            <hr style="border-top: 3px solid black;" />
            <div style="margin-top: 8px; padding: 5px;">
                <div style="display: flex;">
                    <strong>Ticket Cost:</strong>
                    <span style="margin-left: auto;">$1.99</span>
                </div>
                <div style="display: flex;">
                    <strong>Max Win:</strong>
                    <span style="margin-left: auto;">.91x bet</span>
                </div>
            </div>
        </div>
    </div>
}*@

@code {
    private bool showBets = false;
    private int year;
    private int week;
    private string dateString = string.Empty;
    private bool unqualified = true;
    private bool ranCommand;
    private bool runningCommand;

    private List<BetSlip> bets;

    public async Task GenerateBetSlip()
    {
        runningCommand = true;
        bets = await betSlipService.GetBetSlips(week, year, true, null);
        showBets = true;
        runningCommand = false;
        ranCommand = true;
        StateHasChanged();
    }
    //public async Task GenerateBetSlip()
    //{
    //    runningCommand = true;
    //    showBets = true;
    //    runningCommand = false;
    //    ranCommand = true;
    //    StateHasChanged();
    //}
}
